In [1]:
#Question 1
x=input("please enter your first name : ")
y=input("please enter your second name : ")
print(y+" "+x)

please enter your first name : ahmed
please enter your second name : diaa
diaa ahmed

In [3]:
#Question 2
x = int(input("please enter a number : "))

v = str(x)
v1 = v+v
v2 = v+v+v

result = x + int(v1) + int(v2)

print(result)

please enter a number : 5
615

In [4]:
#Question 3
x = int(input("please enter a number : "))

if (x % 2) == 0:
    print("number is even")
else:
    print("number is odd")

please enter a number : 5
number is odd

In [5]:
#Question 4
for i in range(2000, 3200):
    if (i % 7) == 0 and (i % 5) != 0:
        print(i, end=" , ")

2002 , 2009 , 2016 , 2023 , 2037 , 2044 , 2051 , 2058 , 2072 , 2079 , 2086 , 2093 , 2107 , 2114 , 2121 , 2128 , 2142 , 2149 , 2156 , 2163 , 2177 , 2184 , 2191 , 2198 , 2212 , 2219 , 2226 , 2233 , 2247 , 2254 , 2261 , 2268 , 2282 , 2289 , 2296 , 2303 , 2317 , 2324 , 2331 , 2338 , 2352 , 2359 , 2366 , 2373 , 2387 , 2394 , 2401 , 2408 , 2422 , 2429 , 2436 , 2443 , 2457 , 2464 , 2471 , 2478 , 2492 , 2499 , 2506 , 2513 , 2527 , 2534 , 2541 , 2548 , 2562 , 2569 , 2576 , 2583 , 2597 , 2604 , 2611 , 2618 , 2632 , 2639 , 2646 , 2653 , 2667 , 2674 , 2681 , 2688 , 2702 , 2709 , 2716 , 2723 , 2737 , 2744 , 2751 , 2758 , 2772 , 2779 , 2786 , 2793 , 2807 , 2814 , 2821 , 2828 , 2842 , 2849 , 2856 , 2863 , 2877 , 2884 , 2891 , 2898 , 2912 , 2919 , 2926 , 2933 , 2947 , 2954 , 2961 , 2968 , 2982 , 2989 , 2996 , 3003 , 3017 , 3024 , 3031 , 3038 , 3052 , 3059 , 3066 , 3073 , 3087 , 3094 , 3101 , 3108 , 3122 , 3129 , 3136 , 3143 , 3157 , 3164 , 3171 , 3178 , 3192 , 3199 ,

In [10]:
#Question 5
x = int(input("please enter the number : "))
y = 1
value = 1
while x > y:
    value = value * x
    x = x - 1
    print(value, end=" ")

please enter the number : 5
5 20 60 120

In [11]:
#Question 5 alternative answer
y = int(input("please enter your number : "))
fac = 1
if y < 0:
    print("value cannot be a negative number")
elif y == 0:
    print("the factorial of 0 is 1 ")
else:
    for x in range(1, y+1):
        fac = fac*x
        print(fac, end=" ")

please enter your number : 5
1 2 6 24 120

In [13]:
#Question 6
x = input("enter your line : ")
y = " "
for i in range(len(x)):
    if i % 2 == 0:
        y = y + x[i]
print("the result is ", y)

enter your line : Hello team
the result is   Hlota

In [14]:
#Question 7
x = int(input("please enter the price : "))

if x >= 500:
    x = x / 2
    print("The price after discount is : ", float(x))
elif x in range(200, 499):
    x = x - float(x * 0.3)
    print("The price after discount is : ", x)
else:
    x = x - float(x * 0.1)
    print("The price after discount is : ", x)

please enter the price : 350
The price after discount is :  245.0